<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <h1>Welcome! Today is {{currentDate | date:'MM-dd-yyyy'}} </h1>

    <h2>Please water the following plants today & edit when completed!</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Watered At?</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="today == 1 || today == 3 || today == 5">
                <tr *ngFor="let x of twos">
                    <td>{{x.name}}</td>
                    <td>{{x.water_after}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="today == 1 || today == 4">
                <tr *ngFor="let x of threes">
                    <td>{{x.name}}</td>
                    <td>{{x.water_after}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="today == 1">
                <tr *ngFor="let x of sevens">
                    <td>{{x.name}}</td>
                    <td>{{x.water_after}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="daydiff % 14 == 0">
                    <tr *ngFor="let x of fourteens">
                        <td>{{x.name}}</td>
                        <td>{{x.water_after}}</td>
                    </tr>
                </ng-container>
        </tbody>
    </table>
    <input type="text" name="simDate" [(ngModel)]="simDate">
    <button (click)="simulateDate()">Simulate StartDay</button>
    <input type="text" name="currentSim" [(ngModel)]="currentSim">
    <button (click)="simulateToday()">Simulate StartDay</button>
    <a class="btn btn-success btn-sm" id="add" [routerLink]="['/new']">Add a plant</a>

    <div *ngIf='plant' class="plant">
        <td>Name: {{plant.name}}</td><br>
        <td>Water Every: {{plant.type}}</td><br>
        <td>Completed?: {{plant.watered}}</td><br>
    </div>


    <router-outlet></router-outlet>
    <!-- <form>
    <div *ngIf='edit.title' class="edit">
            <input type="text" name="myobjects.title" [(ngModel)]="edit.title" placeholder= {{edit.title}}>
            <input type="text" name="myobjects.description" [(ngModel)]="myobjects.description" placeholder="Description">
            <input type="text" name="myobjects.completed" [(ngModel)]="myobjects.completed" placeholder="Completed?">
            <button (click)="editForm()">Submit</button>
        </div>
    </form> -->
    <!-- <a [routerLink]="['/show/_id']">Show</a>

    <router-outlet></router-outlet>  -->
</body>

</html>