

.table {
    width: 70%;
    margin-left: 5%;
    background-color: white;
}
h1, h2{
    margin-left: 5%;
}
button{
margin-left: 3px;
}

a{
    margin-top: 4px;
}
body{
    background-color: #D6F7E8;
    height:850px;
}
#add{
    margin-left: 5%;
    margin-top: 4px;

}
input{
    margin-left: 5%;
}